body {
  font-family: Arial, sans-serif;
}

#book-list {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

.book-item {
  margin-bottom: 10px;
}

.book-item span {
  margin-right: 10px;
}

#add-book-form input[type="text"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  border: 1px solid grey;
}

#books {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


