body {
  font-family: Arial, sans-serif;
}

header {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
  border: 1px solid black;
}

header h3 {
  margin-right: 10rem;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  }

  nav ul a {
    text-decoration: none;
    border-right: 1px solid black;
    font-size: 20px;
    padding-right: 5px;
    color: black;
  }

 #current-time {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 1rem auto 0;
  font-size: 25px;
  color: rgb(4, 162, 102);
  }

#book-list {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

.book-item span {
  margin-right: 10px;
}

#add-book-form input[type="text"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  border: 1px solid grey;
}

#books {
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.book-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: -3px 2px 5px grey;
  width: 100%;
  height: auto;
}

button {
  width: auto;
  height: 100%;
  font-size: 1rem;
  border: 2px solid grey;
  font-weight: 300;
  margin-right: 20px;
  margin-left: 20px;
  padding: 2px 5px;
}

#add-book-form {
  margin-left: 41%;
}

.add-btn {
  margin-left: 131px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 95%;
  border: 1px solid black;
  justify-content: left;
}

footer p {
  font-size: 20px;
  padding-left: 10px;
}